<% include ../head %>
<form action="/entries/" method='POST'>
  Entry: <input type = "text" name = 'entry'/>
  <br />
  Body: <input type = "text" neme = 'body'/>
  <input type="submit">
</form>
<% include ../footer %>
