<% include ../head %>
<form action="/entries/<%= id %>" method='POST'>
<label name="entry">Entry</label>
<input type="text" name="entry" value="<%= entry.entry %>">
<br />
<label name="body">Body</label>
<input type="text" name="body" value="<%= entry.body %>">
<br />
<input type="submit">
</form>

<% include ../footer %>
